body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.app {
    height: 100svh;
    background: radial-gradient(circle, rgba(246, 173, 157, 1) 0%, rgba(237, 153, 84, 1) 20%, rgba(255, 72, 0, 1) 100%);
}

.header {
    padding: 1rem 4rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand {
    width: fit-content;
}

.nav-brand img {
    object-fit: contain;
    height: 10vh;
    width: 100%;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    font-size: 0.833rem;
    font-weight: 400;
    line-height: 24px;
    color: white;
    position: relative;
    cursor: pointer;
}

.nav-item:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    animation: expandBackground .2s forwards;
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

.user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.user-details i,
.nav-items i,
.popular-switch i {
    font-size: 1.2rem;
    line-height: 28px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.nav-items i {
    display: none;
}

.user-details .bx-menu {
    display: none;
}

.app main {
    height: 70%;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app main .hero {
    position: relative;
}

.app main h2 {
    font-size: 40vh;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    letter-spacing: -0.05em;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.app main img {
    z-index: 10;
    height: 500px;
    width: 100%;
}

.app main .product-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app main .product-details,
.app main .other-info {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    scale: 0;
    transition: scale .2s ease;
}

/*PIck catalog*/
.top-picks {
    padding: 4rem;
}

.top-picks h2,
.trending-section h2,
.popular-section h2 {
    padding-bottom: 1rem;
    font-size: 19.2px;
    font-weight: 500;
    line-height: calc(19.2px + 6px);
}

.pick-catalog,
.popular-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.pick-catalog .catalog-card,
.popular-catalog .catalog-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #eaeaea;
    border-radius: 15px;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
    transition: filter .2s ease;
    z-index: 5;
}

.pick-catalog .catalog-card:hover,
.popular-catalog .catalog-card:hover {
    filter: drop-shadow(3px 3px 3px #eaeaea);
}

.pick-catalog .catalog-card:hover .card-image,
.popular-catalog .catalog-card:hover .card-image {
    scale: 1.1;
}

.catalog-card .card-image {
    background-color: white;
    border-radius: 5px;
    transition: scale .2s ease;
}

.catalog-card .card-image img {
    width: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.catalog-card .card-name {
    font-weight: 500;
    font-size: 16px;
}

.catalog-card .card-price {
    font-size: 16px;
    font-weight: 400;
}

/*Trending*/
.trending-section {
    padding: 4rem;
}

.trending-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mini-trending {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.trending-one img {
    width: 100%;
    object-fit: contain;
}

.trending-two,
.trending-three {
    flex-basis: 1;
}

.trending-three img,
.trending-two img {
    width: 100%;
    object-fit: cover;
}

.trending-tabs img {
    filter: drop-shadow(3px 3px 3px #eaeaea);
}

/*Popular section*/
.popular-section {
    padding: 4rem;
}

.popular-section .popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-header .popular-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popular-header .popular-switch i {
    color: black;
    transition: color .2s ease;
}

.popular-header .popular-switch i:hover {
    color: rgba(255, 72, 0, 1);
}

/*Footer*/
footer {
    padding: 4rem;
    background-color: #eaeaea;
}

footer .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .row .col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.container .row .col h5 {
    font-size: 19.2px;
    font-weight: 500;
    line-height: calc(19.2px + 6px);
}

.container .row .col ul {
    list-style: none;
}

.container .row .col ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.container .row .col ul li a {
    text-decoration: none;
    color: black;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    .header {
        padding: 1rem !important;
    }

    .nav-items {
        position: absolute;
        top: 0;
        right: 100vw;
        width: 70svw;
        height: 100dvh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background: radial-gradient(circle, rgba(246, 173, 157, 1) 0%, rgba(237, 153, 84, 1) 20%, rgba(255, 72, 0, 1) 100%);
        z-index: 10;
        padding: 1rem 20px;
        transition: right .2s ease;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .nav-items i {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 20px;
    }

    .user-details .bx-menu {
        display: block;
    }

    .app main img {
        height: 300px;
    }

    .app main h2 {
        font-size: 20svw !important;
    }

    /*Pick catalog*/
    .top-picks {
        padding: 4rem 1rem !important;
    }

    .pick-catalog,
    .popular-catalog {
        grid-template-columns: 1fr !important;
    }

    /*Trending*/
    .trending-section {
        padding: 2rem 1rem !important;
    }

    /*Popular*/
    .popular-section {
        padding: 2rem 1rem !important;
    }

    /*Footer*/
    footer {
        padding: 2rem 1rem !important;
    }

    footer .container .row {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .app main img {
        height: 350px;
    }

    .app main h2 {
        font-size: 30svw;
    }

    /*Pick catalog*/
    .top-picks {
        padding: 4rem 2rem;
    }

    .pick-catalog,
    .popular-catalog {
        grid-template-columns: repeat(2, 1fr);
    }

    /*Trending*/
    .trending-section {
        padding: 2rem 2rem;
    }

    /*Popular*/
    .popular-section {
        padding: 2rem 2rem;
    }

    /*Footer*/
    footer {
        padding: 2rem 2rem;
    }

    footer .container .row {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }
}

@keyframes expandBackground {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}